* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#panel {
    position: absolute;
    bottom: 0;
    left: 0px;
    padding: 10px;
    background-color: rgba(200, 200, 200, 0.5);
}

#birdCount {
    color: white;
    padding: 0 4px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}
